---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Button from '../components/Button.astro';
---

<Layout title="DigitalFusion - Vaše webové řešení" noTopPadding={true}>
    <div class="flex items-center justify-center min-h-screen">
        <Hero 
            title="Tvoříme weby, které prodávají"
            subtitle="Moderní webová řešení pro váš business"
        >
            <Button href="/kontakt" size="large">Nezávazná konzultace zdarma</Button>
        </Hero>
    </div>
</Layout>
