---
---
<style>
  @font-face {
    font-family: 'Computer Says No';
    src: url('/fonts/computer-says-no.otf') format('opentype');
  }

  .glitch-logo {
    font-family: 'Computer Says No', monospace;
    font-size: 3rem;
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .glitch-logo span {
    display: inline-block;
    margin: 0 0.2rem;
  }

  .fusion {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .space {
    width: 1rem; /* Přidání mezery mezi slovy */
  }
</style>

<div class="glitch-logo">
  <span>D</span><span>i</span><span>g</span><span>i</span><span>t</span><span>a</span><span>l</span>
  <div class="space"></div> <!-- Přidání mezery -->
  <div class="fusion">
    <span>F</span><span>u</span><span>s</span><span>i</span><span>o</span><span>n</span>
  </div>
</div>