---
interface Props {
    title: string;
    subtitle: string;
}
const { title, subtitle } = Astro.props;
---
<div class="hero-section text-center">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 text-white">{title}</h1>
    <p class="text-xl md:text-2xl mb-8 text-white">{subtitle}</p>
    <slot />
</div>
<style>
    .hero-section {
        /* Zde můžete přidat další styly pro Hero sekci */
    }
</style>